<div id="bodyContainer" ng-app="CallApp">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="flip-container text-center col-md-12" ng-controller="CallCtrl" ng-init="init()">
                    <div class="front">
                        <p class="lead">{{title}}</p>
                        <p ng-show="!initState" class="lead">By {{user}}</p>
                        <p ng-show="!initState" class="lead">Remaining {{minutes()}} Mins</p>
                        <div class="row text-center">
                            <button class="btn btn-info btn-lg prev" ng-show="!initState" ng-click="prevOrder()">Prev</button>
                            <button class="btn btn-info btn-lg join" ng-show="!initState" ng-click="join()">Join</button>
                            <button class="btn btn-info btn-lg next" ng-show="!initState" ng-click="nextOrder()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/call-controller.js")
}